{% extends '_base.html' %}

{% block title %}Variants{% endblock title %}

{% block content %}
  <h3>Upload your data</h3>
  <p>Please select the file you have previously exported from 23andme.</p>

  <div class="custom-file w-50">
    <form action="{% url 'variant_upload' %}" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <div class="form-group">
        <input type="file" class="custom-file-input form-control" id="vcfFile" name="vcf">
        <label class="custom-file-label" for="vcfFile">Choose file</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock content %}
